[Unit]
Description=WebRTC Stats Collector Kohaku
After=network.target

[Service]
ExecStartPre=+/bin/mkdir -p /var/log/kohaku
ExecStartPre=+/bin/chown shiguredo:shiguredo /var/log/kohaku
Restart=always
RestartSec=60s
KillMode=process
User=shiguredo
Group=shiguredo
WorkingDirectory=/home/shiguredo/kohaku
Environment="GIN_MODE=release"
ExecStart=/bin/bash -c '/home/shiguredo/kohaku/bin/kohaku -c /home/shiguredo/kohaku/config.yaml 2>/var/log/kohaku/stderr.log 1>/var/log/kohaku/stdout.log'
Type=simple
ExecStop=/bin/kill -SIGTERM ${MAINPID}

[Install]
WantedBy=multi-user.target
